:root {
  --first-text-color: #333333;
  --second-text-color: #ffffff;
  --first-bgc: #ffffff;
  --second-bgc: #f4f4f4;
  --accent-color: #28a745;
  --hero-color-text: #e9e9e9;
  --hover-btn-color: #22913c;
  --blog-bgc: #0284d0;
  --blog-hover-color: #0474b4;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  color: var(--first-text-color);
  background-color: var(--first-bgc);
  font-family: "Open Sans", sans-serif;
  line-height: 1.56;
  font-size: 18px;
}

h1,
h2,
h3,
p {
  font-weight: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 28px;
  padding-right: 28px;
}

.container__without-paddings {
  padding-left: 0;
  padding-right: 0;
}

.accent {
  color: var(--accent-color);
}

.button {
  position: relative;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 1.56;
  text-transform: capitalize;
  fill: currentColor;
  overflow: hidden;
  transition: background-color 250ms linear;
  border-radius: 5px;
  padding: 10px 30px;
}
.button:hover, .button:focus {
  background-color: var(--hover-btn-color);
}

.button-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transition: transform 250ms linear;
  transform: translateY(-50%) scale(0.1);
  opacity: 0;
}
.button:hover .button-icon, .button:focus .button-icon {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

.why-us__button {
  margin-top: 17px;
  border: 1px solid var(--second-text-color);
  background-image: linear-gradient(315deg, #28a745 90%, #28a745 74%);
  z-index: 1;
}
.why-us__button:hover, .why-us__button:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.why-us__button:active {
  top: 2px;
}
.why-us__button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: var(--accent-color);
  background-image: linear-gradient(135deg, #28a745 0%, #ffffff 48%, #28a745 100%);
  transition: all 0.3s ease;
}
.why-us__button:hover::after, .why-us__button:focus::after {
  top: 0;
  height: 100%;
}

.post__button {
  background-color: var(--blog-bgc);
  color: var(--second-text-color);
  margin-top: 17px;
  border: 1px solid var(--second-text-color);
  background-image: linear-gradient(315deg, #0284d0 90%, #0284d0 74%);
  z-index: 1;
  margin-left: 30px;
}
.post__button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: var(--blog-bgc);
  background-image: linear-gradient(135deg, #0284d0 0%, #ffffff 48%, #0284d0 100%);
}
.post__button:hover, .post__button:focus {
  color: var(--blog-bgc);
  border-color: var(--blog-bgc);
  background-color: var(--blog-hover-color);
}
.post__button:hover:after, .post__button:focus:after {
  top: 0;
  height: 100%;
}
.post__button:active {
  top: 2px;
}

.form__button {
  width: 620px;
  height: 42px;
  font-family: inherit;
  line-height: 1.38;
  transition: background-color 250ms linear;
}
.form__button:hover, .form__button:focus {
  background-color: var(--hover-btn-color);
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.navigation__link {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: var(--second-text-color);
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--first-text-color);
  box-shadow: inset 200px 0 0 0 var(--accent-color);
}

.logotype {
  color: var(--second-text-color);
  font-size: 35px;
  line-height: 1.21;
  text-transform: capitalize;
}

.logotype--accent {
  color: var(--accent-color);
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-bottom: 60px;
}

.form__input {
  width: 620px;
  height: 40px;
  background: var(--first-bgc);
  border: 1px solid var(--second-bgc);
  border-radius: 0px;
  color: var(--first-text-color);
  font-size: 18px;
  line-height: 1.56;
}
.form__input::placeholder {
  color: #808080;
}

.page-header {
  padding-left: 22px;
  padding-right: 22px;
}

.hero {
  background-color: var(--first-text-color);
  background-image: url("../images/hero-bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1360px;
  padding-top: 12px;
  padding-bottom: 284px;
}

.hero__wrapper {
  display: block;
  text-align: center;
  padding-top: 225px;
}

.hero__title {
  color: var(--hero-color-text);
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.hero__text {
  color: var(--hero-color-text);
  font-size: 22px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 29px;
}

.about {
  background-color: var(--second-bgc);
  border-radius: 0px;
}

.about__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.about__item {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--first-text-color);
  margin-bottom: 16px;
  margin-top: 15px;
}

.about__text {
  font-size: 18px;
  line-height: 1.55;
  text-align: center;
  color: var(--first-text-color);
  padding-bottom: 19px;
}

.about__list {
  display: flex;
  justify-content: space-around;
}

.about__list-element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 362px;
  padding-left: auto;
  padding-right: auto;
  padding-top: 40px;
  transition: box-shadow 250ms linear, transform 250ms linear;
}
.about__list-element:hover .about__icon-box {
  box-shadow: 5px 5px 36px 4px var(--accent-color);
}
.about__list-element:hover .about__icon {
  transform: scale(1.2);
}

.why-us__wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--second-text-color);
}

.why-us__text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 30px;
  padding-right: 44px;
}

.why-us__subtitle {
  font-size: 20px;
  line-height: 1.65;
}

.why-us__title {
  margin-top: 5px;
  margin-bottom: 26px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.why-us__text {
  width: 606px;
  height: auto;
  font-size: 18px;
  line-height: 1.56;
}

.cases__container {
  margin: 0;
  height: auto;
  display: grid;
  place-items: center;
  background-color: var(--first-bgc);
  padding-top: 55px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.cases__list {
  position: relative;
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 35s linear infinite;
}

@keyframes rotate {
  from {
    transform: perspective(1300px) rotateY(0deg);
  }
  to {
    transform: perspective(1300px) rotateY(360deg);
  }
}
.cases .cases__item {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px);
}

.cases__container .cases__list .cases__img {
  position: absolute;
  object-fit: cover;
  border: 0px solid;
  border-radius: 35px;
}

.cases__top-title {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 15px;
}

.cases__title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 34px;
}

.cases__text {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 60px;
}

.post {
  background-color: var(--blog-bgc);
  color: var(--second-text-color);
}

.container__without-paddings {
  display: flex;
}

.post__content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--blog-bgc);
}

.post__text-box {
  margin-left: 30px;
  margin-right: 44px;
}

.post__title {
  margin-bottom: 26px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-transform: capitalize;
}

.post__subtitle {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
}

.post__text {
  margin-bottom: 30px;
  max-width: 606px;
  font-size: 18px;
  line-height: 1.56;
}

.team {
  padding-top: 55px;
  padding-bottom: 55px;
}

.team__top-title {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  margin-bottom: 16px;
}

.team__title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  margin-bottom: 34px;
}

.team__text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 45px;
}

.team__list {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.team__item {
  flex-basis: calc((100% - 30px) / 3);
}

.team__img {
  margin-bottom: 12px;
}

.team__member-name {
  color: var(--first-text-color);
  text-align: center;
  font-size: 25px;
  line-height: 1.27;
  margin-bottom: 12px;
}

.team__member-position {
  color: var(--first-text-color);
  text-align: center;
  font-size: 18px;
}

.team__social-web {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  opacity: 0;
  transition: opacity 250ms linear;
}
.team__item-box:hover .team__social-web, .team__item-box:focus .team__social-web {
  opacity: 1;
}

.team__social-link {
  transition: transform 250ms linear;
}
.team__social-link:hover .team__social-icon, .team__social-link:focus .team__social-icon {
  transform: scale(1.1);
}

.team__item-box {
  position: relative;
}

.team__img {
  transition: transform 250ms linear;
}
.team__item-box:hover .team__img, .team__item-box:focus .team__img {
  transform: scale(1.02);
}

.callback {
  background-color: var(--second-bgc);
}

.callback__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.callback__form-wrapper {
  display: flex;
  flex-direction: column;
}

.callback__text {
  margin-bottom: 34px;
  color: var(--first-text-color);
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.footer__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--first-text-color);
}

.footer__social-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 10px;
  gap: 25px;
}

.footer__social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__coprt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 18px;
  line-height: 1.56;
  color: var(--first-bgc);
  padding-bottom: 16px;
}

.footer__social-icon {
  transform: scale(1);
  transition: transform 250ms linear;
}
.footer__icon-name:hover .footer__social-icon, .footer__icon-name:focus .footer__social-icon {
  transform: scale(1.2);
}/*# sourceMappingURL=main.css.map */