:root {
  --first-text-color: #333333;
  --second-text-color: #ffffff;
  --first-bgc: #ffffff;
  --second-bgc: #f4f4f4;
  --accent-color: #28a745;
  --hero-color-text: #e9e9e9;
  --hover-btn-color: #22913c;
  --blog-bgc: #0284d0;
  --blog-hover-color: #0474b4;
}

body {
  color: var(--first-text-color);
  background-color: var(--first-bgc);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.56;
  font-size: 18px;
}

h1,
h2,
h3,
p {
  font-weight: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* .accent {
  color: var(--accent-color);
} */

/* .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} */

/* .container {
  width: 1360px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 28px;
  padding-right: 28px;
} */

/* ======= Navigation ====== */

/* .site-nav {
  display: flex;
  justify-content: space-between;
} */

/* .site-nav-list {
  display: flex;
  column-gap: 40px;
  align-items: center;
} */
/* .site-nav-link {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
} */
/* .site-nav-link:hover,
.site-nav-link:focus {
  color: var(--first-text-color);
  box-shadow: inset 200px 0 0 0 var(--accent-color);
} */
/* .nav {
  background-color: var(--first-text-color);
  background-image: url('../images/hero-bg-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1360px;

  padding-top: 12px;
  padding-bottom: 284px;
} */

/* .logo-link {
  color: var(--second-text-color);
  font-size: 35px;
  line-height: 1.21;
  text-transform: capitalize;
} */

.header-page {
  padding-left: 22px;
  padding-right: 22px;
}

/* .site-nav-link {
  color: var(--second-text-color);
} */

/* .hero-content {
  display: block;
  text-align: center;

  padding-top: 225px;
}

.hero-title {
  color: var(--hero-color-text);
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.hero-text {
  color: var(--hero-color-text);
  font-size: 22px;
  line-height: 1.67;
  text-align: center;

  margin-bottom: 29px;
} */

/* .hero-btn {
  position: relative;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 1.56;

  fill: currentColor;
  overflow: hidden;
  transition: background-color 250ms linear;

  border-radius: 5px;
  padding: 10px 30px;
} */

/* .hero-btn-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transition: transform 250ms linear;

  transform: translateY(-50%) scale(0.1);
  opacity: 0;
} */

/* .hero-btn:hover .hero-btn-icon,
.hero-btn:focus .hero-btn-icon {
  opacity: 1;
  transform: translateY(-50%) scale(1);
} */

/* .hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-btn-color);
} */
/* ======= Navigation ====== */

/* ====== Section 2 ====== */

/* .about {
  background-color: var(--second-bgc);
  border-radius: 0px;
}
.about-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.about-item {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--first-text-color);
  margin-bottom: 16px;
  margin-top: 15px;
}

.about-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  text-align: center;
  color: var(--first-text-color);
  padding-bottom: 19px;
}

.about-list {
  display: flex;
  justify-content: space-around;
}

.about-list-element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 362px;
  padding-left: auto;
  padding-right: auto;
  padding-top: 40px;
} */

/* ====== Section 2 ====== */

/* ====== Section 3 ====== */

.why-us-container {
  display: flex;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--second-text-color);
}
.why-us-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 30px;
  padding-right: 44px;
}
.why-us-title {
  margin-top: 5px;
  margin-bottom: 26px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}
.why-us-text {
  width: 606px;
  height: auto;
  font-size: 18px;
  line-height: 1.56;
}
.why-us-befor-title {
  font-size: 20px;
  line-height: 1.65;
}
/* .button-read-more {
  position: relative;
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 1.56;
  color: var(--first-bgc);
  margin-top: 17px;
  border: 1px solid var(--first-bgc);
  border-radius: 5px;
  padding: 12px 35px;
  background-color: var(--accent-color);
  background-image: linear-gradient(315deg, #28a745 90%, #28a745 74%);
  z-index: 1;
  text-transform: capitalize;
} */
/* .button-read-more:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: var(--accent-color);
  background-image: linear-gradient(135deg, #28a745 0%, #ffffff 48%, #28a745 100%);

  transition: all 0.3s ease;
} */
/* .button-read-more:hover,
.button-read-more:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
} */
/* .button-read-more:hover:after .button-read-more:focus:after {
  top: 0;
  height: 100%;
}
.button-read-more:active {
  top: 2px;
} */

/* ====== Section 3 ====== */

/* ====== Section 4 ====== */

.cases-container {
  margin: 0;
  height: auto;
  display: grid;
  place-items: center;
  background-color: var(--first-bgc);
  padding-top: 55px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
.cases-list {
  position: relative;
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 35s linear infinite;
}
@keyframes rotate {
  from {
    transform: perspective(1300px) rotateY(0deg);
  }

  to {
    transform: perspective(1300px) rotateY(360deg);
  }
}
.cases .cases-list-item {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px);
}
.cases-container .cases-list .cases-img {
  position: absolute;
  object-fit: cover;
  border: 0px solid;
  border-radius: 35px;
}
.cases-top-title {
  display: block;
  font-family: 'Open Sans';
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 15px;
}

.cases-title {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 34px;
}

.cases-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 60px;
}

/* ====== Section 4 ====== */

/* ====== Section 5 ====== */
.container.post-flex {
  padding-left: 0;
  padding-right: 0;
}

.post {
  background-color: var(--blog-bgc);
  color: var(--second-text-color);
}

.post-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-transform: capitalize;
}

.post-title-little {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
}

.post-text {
  max-width: 606px;
  font-size: 18px;
  line-height: 1.56;
}

.post-flex {
  display: flex;
}
.content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--blog-bgc);
}
.post-text-box {
  margin-left: 30px;
  margin-right: 44px;
}
.post {
  background-color: var(--second-text-color);
  color: var(--second-text-color);
}
.post-title-little {
  display: block;
  margin-bottom: 5px;
}
.post-title {
  margin-bottom: 26px;
}
.post-text {
  margin-bottom: 30px;
}

.post-btn {
  position: relative;
  background-color: var(--blog-bgc);
  font-size: 18px;
  line-height: 1.56;
  color: var(--second-text-color);
  margin-top: 17px;
  border: 1px solid var(--second-text-color);
  border-radius: 5px;
  padding: 12px 35px;
  background-color: var(--blog-bgc);
  background-image: linear-gradient(315deg, #0284d0 90%, #0284d0 74%);
  z-index: 1;
  text-transform: capitalize;
  margin-left: 30px;
}
.post-btn:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: var(--blog-bgc);
  background-image: linear-gradient(135deg, #0284d0 0%, #ffffff 48%, #0284d0 100%);

  transition: all 0.3s ease;
}
.post-btn:hover,
.post-btn:focus {
  color: var(--blog-bgc);
  border-color: var(--blog-bgc);
}
.post-btn:hover:after,
.post-btn:focus:after {
  top: 0;
  height: 100%;
}
.post-btn:active {
  top: 2px;
}
.post-btn:hover,
.post-btn:focus {
  background-color: var(--blog-hover-color);
}

/* ====== Section 5 ====== */

/* ====== Section 6 ====== */

.team {
  padding-top: 55px;
  padding-bottom: 55px;
}

.team-top-title {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;

  margin-bottom: 16px;
}
.team-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;

  margin-bottom: 34px;
}

.team-text {
  font-size: 18px;
  text-align: center;

  margin-bottom: 45px;
}

.our-team {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.member-card {
  flex-basis: calc((100% - 30px) / 3);
}
.photo-card {
  margin-bottom: 12px;
}
.member-name {
  color: var(--first-text-color);
  text-align: center;
  font-size: 25px;
  line-height: 1.27;

  margin-bottom: 12px;
}
.member-position {
  color: var(--first-text-color);
  text-align: center;
  font-size: 18px;
}

.team-social-web {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;

  opacity: 0;

  transition: opacity 250ms linear;
}

.thumb:hover .team-social-web,
.thumb:focus .team-social-web {
  opacity: 1;
}

.thumb {
  position: relative;
}

.photo-card {
  transform: scale(1);
  transition: transform 250ms linear;
}

.thumb:hover .photo-card,
.thumb:focus .photo-card {
  transform: scale(1.02);
}

/* ====== Section 6 ====== */

/* ====== Section 7 ====== */

.call-back {
  background-color: var(--second-bgc);
}

.call-back-form {
  display: flex;
  align-items: center;
  gap: 30px;
}
.form-callback {
  display: flex;
  flex-direction: column;
}
.form-callback-text {
  margin-bottom: 34px;
  color: var(--first-text-color);
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}
.form-callback-input-box {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-bottom: 60px;
}
.form-callback-input {
  width: 620px;
  height: 40px;
  background: var(--first-bgc);
  border: 1px solid var(--second-bgc);
  border-radius: 0px;
  color: var(--first-text-color);
  font-size: 18px;
  line-height: 1.55;
}

.confirm-form-send {
  width: 620px;
  height: 42px;
  color: var(--second-text-color);

  font-family: inherit;
  font-size: 18px;
  line-height: 1.38;
  background: var(--accent-color);
  border-radius: 5px;

  transition: background-color 250ms linear;
}

.confirm-form-send:hover,
.confirm-form-send:focus {
  background-color: var(--hover-btn-color);
}

/* ====== Section 7 ====== */

/* ====== Footer ====== */

.footer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--first-text-color);
}

.footer-social-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 10px;
  gap: 25px;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-coprt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--first-bgc);
  padding-bottom: 16px;
}

.footer-social-icon {
  transform: scale(1);
  transition: transform 250ms linear;
}

.icon-name:hover .footer-social-icon,
.icon-name:focus .footer-social-icon {
  transform: scale(1.1);
}
/* ====== Footer ====== */
