.post {
  background-color: var(--blog-bgc);
  color: var(--second-text-color);
}
.container__without-paddings {
  display: flex;
}
.post__content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--blog-bgc);
}
.post__text-box {
  margin-left: 30px;
  margin-right: 44px;
}
.post__title {
  margin-bottom: 26px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-transform: capitalize;
}
.post__subtitle {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
}
.post__text {
  margin-bottom: 30px;
  max-width: 606px;
  font-size: 18px;
  line-height: 1.56;
}
