.why-us__wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--second-text-color);
}
.why-us__text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 30px;
  padding-right: 44px;
}
.why-us__subtitle {
  font-size: 20px;
  line-height: 1.65;
}
.why-us__title {
  margin-top: 5px;
  margin-bottom: 26px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}
.why-us__text {
  width: 606px;
  height: auto;
  font-size: 18px;
  line-height: 1.56;
}
