.button {
  position: relative;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 1.56;
  text-transform: capitalize;

  fill: currentColor;
  overflow: hidden;
  transition: background-color 250ms linear;

  border-radius: 5px;
  padding: 10px 30px;
  &:hover,
  &:focus {
    background-color: var(--hover-btn-color);
  }
}
.button-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transition: transform 250ms linear;

  transform: translateY(-50%) scale(0.1);
  opacity: 0;
  .button:hover &,
  .button:focus & {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}
.why-us__button {
  margin-top: 17px;
  border: 1px solid var(--second-text-color);
  background-image: linear-gradient(315deg, #28a745 90%, #28a745 74%);
  z-index: 1;
  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
  &:active {
    top: 2px;
  }
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: var(--accent-color);
    background-image: linear-gradient(135deg, #28a745 0%, #ffffff 48%, #28a745 100%);

    transition: all 0.3s ease;
  }
  &:hover::after,
  &:focus::after {
    top: 0;
    height: 100%;
  }
}
.post__button {
  background-color: var(--blog-bgc);
  color: var(--second-text-color);
  margin-top: 17px;
  border: 1px solid var(--second-text-color);
  background-image: linear-gradient(315deg, #0284d0 90%, #0284d0 74%);
  z-index: 1;
  margin-left: 30px;
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: var(--blog-bgc);
    background-image: linear-gradient(135deg, #0284d0 0%, #ffffff 48%, #0284d0 100%);
  }
  &:hover,
  &:focus {
    color: var(--blog-bgc);
    border-color: var(--blog-bgc);
    background-color: var(--blog-hover-color);
  }
  &:hover:after,
  &:focus:after {
    top: 0;
    height: 100%;
  }
  &:active {
    top: 2px;
  }
}
.form__button {
  width: 620px;
  height: 42px;
  font-family: inherit;
  line-height: 1.38;
  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: var(--hover-btn-color);
  }
}
