.form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-bottom: 60px;
}
.form__input {
  width: 620px;
  height: 40px;
  background: var(--first-bgc);
  border: 1px solid var(--second-bgc);
  border-radius: 0px;
  color: var(--first-text-color);
  font-size: 18px;
  line-height: 1.56;
  &::placeholder {
    color: #808080;
  }
}
